
# Bot credentials for Wikipedia API
WIKIPEDIA_BOT_USERNAME=
WIKIPEDIA_BOT_PASSWORD=

# Wiki replica database access in toolforge environment
# NOTE: Can't be used in local development without SSH tunnels
TOOL_REPLICA_HOST=analytics.db.svc.wikimedia.cloud
TOOL_REPLICA_USER=root
TOOL_REPLICA_PASSWORD=root
TOOL_REPLICA_PORT=3306
